.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.h3 {
  font-size: 24px;
  font-weight: 700;
}

.text {
  font-size: 16px;
  font-weight: 400;
}
